
// colors

$body-bg : rgb(235, 255, 195);
$app-bg : rgb(60, 136, 136);
$important : orangered;
$light-blue : rgb(189, 189, 249);
$white : #fff;

// radius

$radius: 5px;

// font-size

$fs-normal : 16px;

// padding

$p-input : .2rem .5rem;